body {
    font-family: Inter, system-ui, Segoe UI, Arial;
    margin: 0;
    padding: 0;
}


* {
    margin: 0;
    padding: 0;
}

.menuBar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0px 24px;
    height: 74.49px;
    background-color: #c73035;
}

#Logo {
    width: 245px;
    border: 3px solid black;
    border-radius: 20px;
}

.navMenu {
    display: flex;
    gap: 4vw;
    align-items: center;
    padding-left: 100px;
}

.navMenu a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 8px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.navMenu a:hover {
    background-color: white;
    color: black;
}

.layout {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    align-items: center;
}

.divPadrao {
    background-color: white;
    width: 75vw;
    padding: 20px;
    border: 4px solid #c73035;
    border-radius: 20px;
    margin-top: 20px;
}

.inputSefaz {
    text-align: center;

}

.inputSefaz h1 {
    margin-top: 20px;

}

.inputSefaz h2 {
    margin-bottom: 50px;
}

.inputSefaz input {
    width: 45vw;
    height: auto;
    font-size: 1.5rem;
    padding-left: 10px;
}

.inputSefaz button {
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
}

.resultado {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw 5vw;
    font-size: 1.5rem;
}

.link1 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 20px;
    align-items: baseline;
    margin-left: 50px;
}

.link2 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 20px;
    align-items: baseline;
    margin-left: 50px;
}

.botoes1 {
    display: flex;
    gap: 20px;
    align-items: baseline;
    margin-top: 20px;
    margin-left: 70px;
}

.botoes2 {
    display: flex;
    gap: 20px;
    align-items: baseline;
    margin-top: 20px;
    margin-left: 70px;
}

#link1,
#link2,
#botoes1,
#botoes2,
#mensagem,
#resultado {
    display: none;
}

.on-Infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
    border-top: 4px solid #c73035;


}

.infos {
    width: auto;


}

.infos li {
    list-style: none;
    font-size: 2rem;
}


.rodape {
    width: 100%;
    justify-items: center;
    padding: 20px;
    background-color: #c73035;
    text-align: center;
    margin-top: 20px;
    color: white;
    box-sizing: border-box;

}

.rodape a {
    text-decoration: none;
}






#mensagem[style*="block"] {

    width: auto;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    animation:
        descerMensagem 1s ease;

}

@keyframes descerMensagem {
    from {
        opacity: 0;
        transform: translate(-50%, -120%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 9%);
    }
}
